* {
    margin: 0;
    box-sizing: border-box;
} body {
    
    
}
 main {
    
}.container{
    padding: 20px;
    display: block;
    flex-wrap: wrap;
    
} .ima {
    width: 100%;
} nav {
    opacity: 50;
}
