* {
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
    display: block;
    
} 
.navbar {
    background-color: black;
}
body {
   display: block;
   margin: 0%;
}
 main {
    padding: 2px;
    margin: auto;

}
.container{
    padding: 40px;
    display: block;
    flex-wrap: wrap;
    
} 
.ima {
    background: transparent;
    width: 100%;
    
} 
.top{
    opacity: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
} 

.teste{
    position: absolute;
    top:0px;
    width: 100%;
}
.teste img{
    width: 100%;
} 
.nome {
    color: white;
} 
.card {
    background-color: black;
    color: white;
    text-align: center;
}
.card2{
    /* Tentar resolver os cards da esquerda */
    margin: auto;
    display: block;
    background-color: black;
}
.imag{
    margin-top: -100%;
    width: 100%;
    margin: auto;
} 
.rodape {
    margin-top: auto;
    background-color: black;
}


